.Container {
    margin-top: 15px;
    background-color: #ffff;
    height: 85vh;
    overflow-y: scroll;
    width: 80vw;
    padding: 10px;
    border-radius: 6px;

}

.SignInContainer h4 {
    font-size: 33px;
    margin-top: 20px;
}

.SignInContainer p {
    font-size: 16px;
    margin-top: 20px;
}

.SignInContainer {
    padding: 25px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Input {
    width: 25vw;
    margin-top: 5px;
    height: 40px;
    border-radius: 6px;
    padding: 15px;
}

.Label {
    font-size: 16px;
    font-weight: 400;
}

.Error {
    color: red;
    font-size: 14px;
    margin-left: 5px;
}

.rememberContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

}

.rememberContainer a {
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
}

.remember {
    display: flex;
    font-size: 16px;

}

.buttonSignIn{
    background-color: #095179;
    color: white;
    width: 10vw;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}

.formSetting{
    display: flex;
    align-items: center;
}

.field{
    margin: 5px;
}
.backArrow{
    margin-left: 13px;
    cursor: pointer;
    color: #095179;
    margin-top: 10px;
}

.addbtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteIcon{
    color: red;
    margin-top: 50px;
}
.fieldHeader{

}

.andtbtn{
    background-color: #095179;
}


.fieldContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Space between rows */
  }
  
  .fieldRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem; /* Space between input and delete icon */
  }
  
  .dateFieldGroup,
  .singleFieldGroup {
    display: flex;
    gap: 1rem; /* Space between start and end inputs */
    flex-wrap: wrap; /* Adjust layout for smaller screens */
  }
  
  .inputContainer {
    flex: 1; /* Inputs take equal space */
  }
  
  .deleteIcon {
    cursor: pointer;
    color: #ff4d4f; /* Delete icon color */
    transition: transform 0.2s ease-in-out;
  }
  
  .deleteIcon:hover {
    transform: scale(1.2); /* Slight zoom on hover */
  }
  
  .tableContainer{
    margin-top: 12px;
  }