.container {
    margin-top: 20px;
    height: 85vh;
    overflow-y: scroll;
}

.winner {
    padding: 25px;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.heading {
    padding: 10px;
}

.heading h1 {
    font-weight: 700;
    font-size: 56px;
    color: #095179;

}

.heading h3 {
    font-weight: 700;
    font-size: 46px;
    color: #c58804;
}

.imageCol {}

.btn {
    display: flex;

}

.button {
    margin: 0px 2px;
    border-radius: 14px;
    padding: 15px;
    height: 40px;
    background-color: #095179 !important;
    color: #ffff !important;
}

.button2 {
    background-color: #ffff;
    margin: 0px 2px;
    border-radius: 14px;
    padding: 15px;
    height: 40px;
    border: none;
}

.button2:hover {
    background-color: #095179 !important;
    color: #ffff !important;
}

.final {
    position: relative;
    width: 150px;
    bottom: 200px;
    left: 200px;
    transform: rotate(-35deg);
    /* Rotates the image 45 degrees */
    transition: transform 0.3s ease;
}

.WinnerAnnauce {
    background-color: #ffff;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 25px;
}

.imagewinner {
    display: flex;
    align-items: center;
}

.imageContent {
    display: flex;
    align-items: center;
}
.disc{
    margin-left: 33px;
}
.disc p{
    padding: 0px;
    margin: 0px;
    color: #212529;
    text-align: left;

}
.Prize{
    margin-top: 10px;
    margin-left: 15px;
}
.Prize h4{
    padding: 0;
    margin: 0;
}
.Prize p{
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-weight: 500;
    color: #212529;

}
.Amount{
    background-color: #095179;
    border-radius: 15px;
    position: relative;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     padding: 15px;
    align-items: center;
}
.Amount h6{
    font-size:24px ;
    padding: 0;
    margin: 0;
    color: #ffff;
}
.Amount h2{
    font-size:24px ;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    color: #ffff;
}
.Amount h1{
    font-weight: 700;
    font-size: 42px;
    color: #ffff;
}
.Amount span{
    border-top: 2px solid #c58804 !important;
    height: 5px;
    z-index: 99;
    width: 350px;
}

.lastWinner{
    background-color: #ffff;
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 15vw;
    margin: 5px 5px;
    padding: 5px;
}

.LastWinnerImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.LastwinnerContainer{
    margin-top: 25px;
}
.colLastMnth{
 display: flex;
 flex-wrap: wrap;
}

.btnOFcam{
    background-color: #095179 !important;
}